:root {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}


body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100vh;
}

.nav-bar {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 4px;
    padding-top: 10px;
    background-color: dodgerblue;
}

.icons-container > img {
    height: 21px;
    margin: 10px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(300deg) brightness(100%);
}

.words-container {
    display: flex;
    flex-direction: column;

}

.words-container > p {
    font-weight: bold;
    margin: 10px;
    font-size: 18px;
    color: white;
}

img:first-child, p:first-child{
    height: 37px;
    font-size: 2em;
    margin-bottom: 50px;
}


img:nth-child(7), p:nth-child(7) {
    margin-bottom: 50px;
}

.icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.main-section {
    border: 1px solid black;
}