:root {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

p {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100vh;
    margin: 0;
}

.nav-bar {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 4px;
    padding-top: 10px;
    background-color: #0ea5e9;
}

.icons-container > img {
    height: 21px;
    margin: 10px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(300deg) brightness(100%);
}

.words-container {
    display: flex;
    flex-direction: column;

}

.words-container > p {
    font-weight: bold;
    margin: 10px;
    font-size: 18px;
    color: white;
}

img:first-child, p:first-child{
    height: 37px;
    font-size: 2em;
    margin-bottom: 50px;
}


img:nth-child(7), p:nth-child(7) {
    margin-bottom: 50px;
}

.icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.main-section {
    border: 1px solid black;
}

.header-top {
    display: flex;
    padding-left: 50px;
    height: 50px;
    justify-content: space-between;
    padding-top: 20px;
    min-width: 350px;
}


.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-top svg {
    height: 15%;
    min-height: 25px;
    min-width: 25px;
}

.search-input {
    border-radius: 50px;
    width: 100%;
    min-height: 25px;
    min-width: 100px;
    height: 15%;
    flex: 1;
    margin-left: 10px;
}


.right-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    margin-left: 30px;
}


.cartoon-cat {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

